.header {
  border-bottom: 1px solid #ECECEC;
  padding-top: 10px;
  width: 100%;

  padding-bottom: 10px;
  background-color: #fff;
  @media screen and (max-width: 767px) {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }
  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header-container {
  display: flex;
  align-items: center;
}


.navigation__link {
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  padding-top: 32px;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &.current {
    color: var(--accent-color);
  }
}

.current::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  background-color: var(--accent-color);
  height: 4px;
  border-radius: 2px;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, 0%);
}


.navigation {
  display: flex;
  align-items: center;
  margin-left: 93px;
  @media screen and (max-width: 767px) {
      display: none;
    }
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: flex;
  margin-left: auto;
  @media screen and (max-width: 767px) {
      display: none;
    }
  @media screen and(min-width: 768px) {
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
.contacts__icon--tel{
  width: 10px;
  height: 14px;
  @media screen and (min-width: 1200px) { 
    height: 16px;
  }
}
.contacts__icon--mail{
  width: 14px;
  height: 10px;

  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
}
}

.contacts__link--header {
  display: flex;
  align-items: center;
  color: var(--second-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (max-width: 767px) {
  font-size: 34px;
}
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}
.contacts__item:first-child{
  @media screen and (max-width: 1199px){
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px){
    margin-right: 30px;
  }
}



