.team-section {
  background-color: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
}

.team-section__title {
  margin-bottom: 30px;
  @media screen and (min-width: 1200px){
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .team{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
}

.team__member {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width:1200px) {
    width: calc((100% - 90px) / 4);
  }
}

@media screen and (max-width: 767px) {
  .team__member:not(:last-child) {
      margin-bottom: 30px;
    }
}

.member__description {
  padding-top: 30px;
  padding-bottom: 24px;
}

.member__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 10px;
}

.member__position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-bottom: 16px;
}